doctype html
html(lang="en")
  head
    //- Will make all links by default open in the top window (not the iframe)
    base(target="_top")

    //- Do not remove or change this line if you use widget.styl
    style(type="text/css")!=css

    //- If you use the Awesome HQ Toolkit, you will need this line
    //- Awesome HQ Toolkit Guide: https://www.awesomehq.com/dev/guide/toolkit
    script(type="text/javascript", src="https://dp5h8603kjrao.cloudfront.net/static/toolkit/toolkit-latest.js")

    //- Do not remove or change this line if you use widget.coffee
    script(type="text/javascript")!=js
  body
    h1#greeting Hello, world!
    p Here's an example file copied from ./widgets/{widget name}/assets to ./output/example:
    img(src="/example/ahq.png")
